@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* Quando usamos o * ali, pegamos tudo no browser pra mexer */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1426604966848-d7adac402bff?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY3NTM0NzcxNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600);
    background-size: cover;
}
.main-content {
    background-color: black;
    width: 95%;
    max-width: 430px;
    border-radius: 25px;
    opacity: 0.8;
    padding: 20px;
}
input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 80px)
}
button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    background-color: #7c7c7c2b;
    float:right;
    cursor: pointer;
}
button:hover {
    background-color: #7c7c7c6b;
}
.lupa {
    height: 20px;
}
.second-block {
    margin-top: 1rem;
}
.second-block > p {
    margin-top: 1em;
}
.small-block {
    display: flex;
    margin-top: 1em;
    align-items: center;
}
h2 {
    color: white;
    font-size: 2em;
}
.weather {
    color:white
}
.description {
    color: white;
    text-transform: capitalize; /*Deixa a primeira letra maiúscula */
    margin-right: 0.5em;
}
.humidity {
    color: white;
}
